#form-page{
    width: 100vw;
    height: 100vh;
}

#form-page .card{
    width: 400px;
    margin: 0 auto;
}
#result-page{
    width: 100vw;
    height: 100vh;
}

#result-page .card{
    width: 400px;
    margin: 0 auto;
}